@page "/"
@using PinewoodFrontend.Services
@inject ITestService TestService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@Message</p>

@code {
	public string Message { get; set; } = "Unset";

	protected override async Task OnInitializedAsync()
	{
		Message = await TestService.GetMessage();
	}
}
